{% extends "base.html" %}
{% block title %}Manage users{% endblock %}
{% block body %}
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">Blue</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="cool-center">
            <td>{{ user.name }}</td>
            {% if user.role == "Admin" %}
                <td>hunter2 (real) (share it with friends)</td>
            {% else %}
                <td>{{ user.password }}</td>
            {% endif %}
            <td>{{ user.role }}</td>
            {% if user.blue %}
            <td>
                <form action="/admin/users" method="post">
                    <input type="hidden" name="id" value="{{user.id}}">
                    <button type="submit" class="btn-link" name="cmd" value="RemoveBlue">✅</button>
                </form>
            </td>
            {% else %}
            <td>
                <form action="/admin/users" method="post">
                    <input type="hidden" name="id" value="{{user.id}}">
                    <button type="submit" class="btn-link" name="cmd" value="GrantBlue">❌</button>
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}