<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/style.css">
<link rel="icon" type="image/x-icon" href="/assets/favicon.png">
<script>
	window.addEventListener("load", function() {
		const marquee = document.querySelector("marquee.cool-title");
		const verifdiv = document.querySelector("div.verified-ad");
		let adcolor = 0;
		let adangle = 0;
		let adangledir = 10;
		let dblangle = Math.floor(Math.random()*20)+140;
		let dblangledir = 0;
		setInterval(function() {
			adcolor += 1;
			if (adcolor > 360) adcolor %= 360;
			marquee.style.color = `hsl(${adcolor}deg 100% 50%)`;

			adangle += adangledir;
			dblangle += dblangledir;
			if (adangle > 360 || adangle < -360) adangle %= 360;
			if (dblangle > 360 || dblangle < -360) dblangle %= 360;
			adangledir -= Math.sin(adangle*Math.PI/180);
			dblangledir -= Math.sin(dblangle*Math.PI/180);
			adangledir -= Math.cos(dblangle*Math.PI/180)*Math.sin(adangle*Math.PI/180);
			verifdiv.style.background = `linear-gradient(${Math.round(adangle)}deg, #f66, lightgreen, skyblue)`;
		}, 30)
	});
</script>
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar">
	<a href="/"><img class="logo" src="/assets/logo.png"></a>
	<div class="spacer"></div>
{% if user %}
    {% if user.role == "Admin" %}
    <a href="/admin" class="link">Admin Panel</a>
    <a href="/admin/users" class="link">Manage Users</a>
    {% endif %}
    <a href="/create_post" class="link">New Post</a>
    <a href="/profile/{{user.id}}" class="link">My Profile</a>
    <a href="/settings" class="link">Settings</a>
    <form action="/logout" method="post">
        <button type="submit" class="link btn-link">Logout</button>
    </form>
{% else %}
    <a href="/register" class="link">Sign Up</a>
    <a href="/login" class="link">Sign In</a>
{% endif %}
</div>
<div class="leftbar">
	<div class="verified-ad">
		<marquee class="cool-title">get blue RIGHT NOW</marquee>
		<p>Pay us $8 to get <span class="blue-promo">blue</span>!</p>
		<p>Benefits include:</p>
		<ul>
			<li>TBD</li>
		</ul>
	</div>
</div>
{% block body %}{% endblock %}
</body>
</html>
