.btn-link {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background: linear-gradient(45deg, black, white);
	margin: 0;
	display: grid;
	grid-template-columns: 25% 60% 1fr;
	grid-template-rows: max-content 1fr;
	grid-template-areas:
	"nav nav nav"
	"leftbar body sidebar";
	gap: 10px;
	font-size: 18px;
	align-items: start;
	word-wrap: break-word;
}

div.leftbar {
	grid-area: leftbar;
	position: relative;
}

div.verified-ad {
	position: fixed;
	border: 3px solid black;
	border-radius: 15px;
	padding: 6px;
	margin: 5px;
	max-width: 27vw;
}

marquee.cool-title {
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

div.verified-ad h2 {
	text-align: center;
}

div.verified-ad p, div.verified-ad ul {
	font-size: 1.3em;
}

img.logo {
	height: 60px;
	border-radius: 15px;
}

div.spacer {
	flex-grow: 1;
}

div.content {
	grid-area: body;
}

div.navbar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background: #ddf;
	font-size: 30px;
	padding: 10px;
	grid-area: nav;
	margin-bottom: 10px;
}

div.navbar .link {
	padding: 10px;
	border-radius: 10px;
	margin: 0px 15px;
	color: black;
	text-decoration: none;
}

div.navbar .link:hover {
	background: #ccf;
}

div.post {
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
	margin: 15px;
	background: #fff7;
}

div.blue {
	border: 3px solid black;
	box-shadow: blue 5px 5px;
	background: lightblue;
}

div.post:not(.blue) a {
	color: black;
}

img.blue-icon {
	max-height: 1em;
}

input[type="submit"] {
	outline: none;
	border: none;
	background: #adf;
	padding: 5px;
	border-radius: 5px;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"]:hover {
	background: #ace;
}

input[type="submit"]:active {
	background: #9bc;
}

form#signup, form#signin, form#settings {
	display: flex;
	flex-flow: column nowrap;
	grid-area: body;
}

input[type="text"], textarea {
	padding: 4px;
	border-radius: 4px;
}

span.blue-promo {
	background: cornflowerblue;
}

.cool-center {
	text-align: center;
}
